[package]
name = "pwd"
description = "Print working directory"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
abi_stable = "0.11"
rush-plugin = { path = "../../rush-plugin" }
